asgiref==3.2.10
cffi==1.14.1
cryptography==3.2.1
Django==3.0.11
django-crispy-forms==1.10.0
gunicorn==20.0.4
numpy==1.19.5
Pillow==7.2.0
py==1.10.0
pycparser==2.20
pytz==2020.5
six==1.15.0
sqlparse==0.3.1
whitenoise==5.2.0
