{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Portfolio Matias Cocciolo</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="{% static 'images/avatar.jpg' %}" alt=""/></a>
        <h1><strong>Hola, </strong>soy Matias desarrollador Python.
            ¡Buscando nuevos proyectos y mejorar continuamente mis habilidades! <br/>
        </h1>
    </div>
</header>

<!-- Main -->
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>PERFIL PROFESIONAL</h2>
        </header>
        <p> Me agradan los retos y crecer formando equipo. Tengo la capacidad
            de adaptarme fácilmente a diferentes entornos para superar los obstáculos que se presenten.
            Formado en programación estructurada y funcional, Pascal, C++, Visual C++, Visual Basic, Clipper y SQL, con
            conocimientos de programación orientada a objetos en Python.
            Me encuentro especialmente interesado en proyectos de backend con Python, Django, Machine Learnig,
            Inteligencia
            Artificial, Web Scraping, y Análisis de Datos. Me gusta el software libre y trabajar con Linux ¡Estoy
            motivado para aprender nuevas tecnologías, idiomas y mejorar mis habilidades!</p>
        <!--<ul class="actions">
            <li><a href="{% static 'cv/CV_Matias Cocciolo.pdf' %}" class="button">Descargar CV</a></li>
        </ul>-->
    </section>

    <section>
        <h2>Desarrollador Software (2020)</h2>
        <h5>Freelance </h5>
        <p><!--<span class="image right"><img src="{% static 'images/screenshot.png' %}" alt=""/></span>-->Desarrollé
            íntegramente
            aplicaciones escalables, completas, seguras y resistentes utilizando Python, Django, HTML, CSS, Javascript y
            Git para el control de versiones. Con un modelo de datos relacional en Sqlite (fácilmente adaptable o otras
            bases de datos como PostgreSQL, MariaDB o MySQL ).</p>
        <ul>
            <li>Pagos implementados con Paypal.</li>
            <li>Sistema de autenticación de usuarios (clientes, admin, personal).</li>
            <li>Registro de usuarios con activación por email e información cifrada (uidb64, token).</li>
            <li>Registro de clientes, con posibilidad de editar sus datos de usuario (dirección, foto de perfil,
                contraseña, etc) ver sus pedidos y en que estado se encuentran.
            </li>
            <li>Recuperación de contraseña vía email (en caso de que el usuario olvíde su contraseña).</li>
            <li>Seguridad mediante decoradores de autenticación (login decorators).</li>
            <li>Posibilidad de comprar sin estar registrado (anonymous customer).</li>
            <li>Gestión de pedidos.</li>
            <li>Vistas full responsive usando mayormente una base flex.</li>
        </ul>
        <p>
            Machine Learning, realice un algoritmo que predice los gustos musicales, utilizando Jupiter
            Notebook, las librerías, Numpy, Pandas y Scikit-learn, esta ultima para graficar un diagrama de
            árbol.
            Análisis de Datos de planillas exel, utilizando la librería openpyxl.
            Web Scraping, extracción de información relevante de urls especificas, como enlaces, almacenadas en
            un archivo de texto. Utilizando las librerías beautifulsoup y urllib.
        </p>
        <br>
        <h2>Solum Instruments y Cocciolo Amplifiers</h2>
        <h5>Industria de Instrumentos Musicales (2011- 2020) | Dueño Propietario</h5>
        <p>Fundé Solum Instruments y Cocciolo Amplifiers. Por un lado Solum Instruments empresa dedicada a la
            fabricación de guitarras y bajos acústicos. Con la idea de suministrar al mercado Argentino instrumentos de
            calidad internacional (comparables a grandes marcas como Martin & CO, Gibson, Taylor) que no se producían en
            el país hasta ese momento. Por otro lado, Cocciolo Amplifiers, empresa dedicada a la fabricación de
            amplificadores valvulares de boutique. Con la idea de suministrar al mercado Argentino amplificadores a
            válvulas de alta calidad cableados a mano. Para tal fin tuve que sortear muchos obstáculos, varios de los
            cuales están vinculados al entramado y encadenamiento productivo propio de la Argentina y el acceso a
            insumos.</p>
        <ul>
            <li>Diseñe, creé y desarrollé toda la linea de productos a lo largo de los años (en total más de 40 modelos
                de guitarras, bajos y amplificadores). Donde destaca, la selección y combinación de materiales, el
                diseño estético, funcional, estructural e integro de cada pieza y de cada producto. Incluyendo
                transformadores, circuitos y esquemas electrónicos y eléctricos. Con el objetivo de logar la máxima
                calidad de materiales, sonido, durabilidad y fiabilidad.
            </li>
            <li>Creé y gestione una red de proveedores para abastecernos de los insumos y materias primas requeridas,
                tanto locales como importadas.
            </li>
            <li>Creé, puse en practica y mejore un proceso estructurado y detallado de producción con pasos claros a
                seguir. Con el fin de minimizar el tiempo de trabajo, la utilización de insumos y de alcanzar la máxima
                calidad y terminación. Al mismo tiempo que permitiera facilitar y simplificar las tareas.
            </li>
            <li>Diseño, creación y fabricación de maquinarias especificas, para procesos especiales y determinados que
                no son procurables por medio del mercado, los cuales requieren de conocimientos teóricos, inventiva,
                destreza, habilidad técnica y practica para ser realizadas.
            </li>
            <li>Logré formar parte de CAFIM, Camara Argentina de Fabricantes de Instrumentos Musicales.</li>
            <li>Generé, gestioné y coordiné la presencia de la marca en Eventos y Exposiciones. De destacar es la
                parecencia de Solum Instruments en varias ediciones de Muestra Música, la exposición mas importante de
                instrumentos musicales de América Latina. A nivel local, también logramos participar en las exposiciones
                del Musiquiatra, muy importante en Argentina. Con lo que aumenté y fortalecí la presencia de la marca.
            </li>
        </ul>
        <br>
        <h2>Tecnico Reparacion de PC – Informatica y Tecnologia (2004-2010)</h2>
        <h5>Autonomo</h5>
        <p>Reparación, soporte y servicios para ordenadores y portátiles, empresas y particulares. Gestión de software y
            licencias, el recuperado de datos y soporte profesional para usuarios de Windows, Linux.
        </p>
        <br>
        <h2>Longseller S.A – Industria del Libro (2003-2004)</h2>
        <h5>Responsable de Facturación</h5>
        <p>Responsable del sector de facturación, y encargado del stock-inventario. Recepción de formularios de
            solicitudes de pedidos de los vendedores, emisión de comprobantes, coordinación con planta industrial del
            armado de los pedidos y control de stock. </p>
        <ul>
            <li>Implementé un sistema de recepción, procesado y entrega de pedidos, con procesos claros y definidos,
                para minimizar el tiempo de entrega y el orden de la documentación.
            </li>
            <li>Mejoré el sistema de control de stock, solucionando los problemas de diferencias recurrentes.</li>

        </ul>
    </section>

    <section>
        <h2>ESTUDIOS</h2>
        <ul>
            <li>Licenciado en Economía - Universidad de Buenos Aires</li>
            <li>Licenciado en Sistemas de Información - Universidad de Buenos Aires (Incompleto)</li>
            <li>Técnico en Computación – Confederación Suiza ET 6</li>

        </ul>

        <h5>CAPACITACIÓN E INFORMACIÓN COMPLEMENTARIA</h5>
        <ul>
            <li>Castellano Nativo</li>
            <li>Idiomas: Inglés Intermedio</li>
        </ul>


    </section>


    <section id="three">
        {% block content %}
        {% endblock content %}
    </section>

</div>
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="{% static 'cv/CV_Matias Cocciolo.pdf' %}" class="button">Descargar CV</a></li>
        </ul>
        <ul class="icons">
            <li><a href="https://github.com/mattcocciolo" class="icon brands fa-github"><span
                    class="label">Github</span></a></li>
            <li><a href="https://mail.google.com" class="icon solid fa-envelope"><span class="label">Email</span></a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2021</li>
            <li>Design: <a href="#">Matias Cocciolo</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>